/*LAYOUT*/

ul.li-spaces-md li { padding: 5px 0; }

.skills-list-wrapper {
    width: 100%;
}

/* .bio {

} */

.skills-list {
    width: 33.333%;
    margin: 0 auto;
    margin-bottom: 4rem;
    /* list-style-type: none; */
    text-align: left;
    text-transform: uppercase;
    padding-left: 0rem;
    /* right: 26px; */
}

@media(max-width: 767px) {
    .skills-list {
    width: 11.333%;
        
    }
}

@media(max-width: 494) {
    .skills-list {
    width: 33.333%;
        
    }
}

@media(max-width: 480px) {
    .skills-list {
        /* padding-left: 0rem; */
        width: 27.333%
    }
}

#boom-boom-cats {
    font-size: 23px;
}

.famous-quote {
    font-size: 30px;
    color: #ffffff;
}

.quote-author {
    color: #ffcb8f;
    font-weight: 300;
}

#famous-quote-icon {
    display: inline-block;
    color: #ffcb8f;
}

.cover-img {
    width: 300px; 
    height: 212px;
}

h1 {
    font-family: 'Rock Salt', cursive;
}

.navbar-brand {
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
}

/*UTILITIES*/
.mt-0 {
    margin-top: 0;
}

.mt-4 {
    margin-top: 1.5rem;
}

.margin-bottom-md {
    margin-bottom: 3rem;
}

/*CONTROLS*/
@media(max-width: 406px) {
    .btn-lg {
        font-size: 13px;
    }
}
